# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments and Credentials
.env
.env.local
*.key
*.pem

# SQLite caches & log records
cache/
logs/
*.sqlite
*.sqlite3
*.log

# Caching and processed data
data/raw/
.pytest_cache/
.coverage
htmlcov/

# Jupyter Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environments
venv/
.venv/
env/
ENV/

# OS specific files
.DS_Store
Thumbs.db
desktop.ini
